/* //// ROOT VARIABLES  */
:root {
  --body-background: #021526;
  --display-area-background: #03346e;
  --btn-background: #6eacda;
  --btn-hover-background: #e2e2b6;
  --title-font: vollkorn, serif;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: Georgia, serif;
  --lg-font: 2.5rem;
  --md-font: 1rem;
  --sm-font: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--body-background);
  font-family: var(--primary-font);
  color: white;
  margin: 0;
  padding: 0;
}

/* Button Styling */
.btn {
  color: white;
  font-size: 0.9rem;
  font-weight: 800;
  background-color: var(--btn-background);
  padding: 0.6% 1%;
  border-radius: 10px;
  border: 1px solid white;
  transition: all 0.5s;
}

.btn:hover {
  background-color: var(--btn-hover-background);
  border: 1px solid var(--btn-background);
  transform: scale(1.05);
}

.btn:active {
  background-color: rgb(110, 23, 23);
  transform: scale(1);
}

.deleteCardBtn {
  position: absolute;
  width: 15%;
  padding: 2%;
  top: -3px;
  right: -5px;
  border-radius: 50%;
}

.form-btns > button {
  padding: 3%;
}

.statusbtn {
  padding: 5%;
}

/* Styling for the landing area */
.landing-area {
  display: grid;
  grid-template-rows: 1fr 1fr 8fr;
  text-align: center;
  padding: 1%;
  height: 100vh;
}

.page-heading {
  font-family: "Dancing Script";
  font-size: 3rem;
  grid-row: 1 /2;
}

.interactions {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20%;
}

/* Inside the dialog styling */
.hidden {
  display: none;
}

.formToFill {
  display: flex;
  flex-direction: column;
  width: 400px;
}

form label {
  margin: 8% 0 3% 0;
}

form p {
  margin: 20% 0% 0% 0%;
}

.readStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#displayArea {
  grid-row: 3/4;
  background-color: var(--display-area-background);
  border-radius: 20px;
  padding: 1%;
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* Book Cards Styling */
.book-card {
  padding: 12% 10%;
  background-color: white;
  color: black;
  border-radius: 10px;
  position: relative;
}

.bookInfo {
  margin: 10% 0%;
}

.readStatus {
  display: flex;
  margin: 2% 0%;
}

.readStatus button {
  width: 60%;
}

/* Validation */
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

input[type="text"],
input[type="number"] {
  appearance: none;
  width: 100%;
  border: 1px solid #333;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
} /* BUTTON STYLINGS */
